
<div class="row  jumbotron">
  <div class="main-container col-xs-12">
    <div class="box">
      <div classs="" >
        <h1 class="text-center col-xs-12">Editar</h1>
         <%= link_to "Regresar", :back %>
          </div> 
          <div cloass="container form-group ">
            <div class="text-center form-group">
              <div class="main-container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>



<div class="form-inline">
  
  <div class="field ">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Nuevo Password " %> <i>(deja en blanco, si no desea cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirma tu nuevo password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


</div>



<br><br><br>



  <div class="field">
    <%= f.label :name, "Nombre(s)" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div> 
  <div class="field">
    <%= f.label :last_name, "Apellido Paterno" %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :mother_last_name, "Apellido Materno" %><br />
    <%= f.text_field :mother_last_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :year, "Edad" %><br />
    <%= f.text_field :year, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :cel, "Celular" %><br />
    <%= f.number_field :cel, autofocus: true %>
  </div>


  <br><br><br>


  <div class="field">
    <%= f.label :Street, "Calle" %><br />
    <%= f.text_field :Street, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :number, "Numero" %><br />
    <%= f.number_field :number, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :colony, "Colonia" %><br />
    <%= f.text_field :colony, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :delegation, "Delegacion o municipio" %><br />
    <%= f.text_field :delegation, autofocus: true %>
  </div>

  

  <br><br><br>



  <div class="field">
    <%= f.label :tutor, "Nombre del Tutor" %><br />
    <%= f.text_field :tutor, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :cel_tutor, "Telefono " %><br />
    <%= f.number_field :cel_tutor, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :emergency_phone,"Telefono de emergencia" %><br />
    <%= f.text_field :emergency_phone, autofocus: true %>
  </div>

  
  <br><br><br>
  

  <div class="field">
    <%= f.label :instrument,"Instrumento" %><br />
    <%= f.text_field :instrument, autofocus: true %>
  </div> 


<br><br><br>


  <div class="field">
    <%= f.label :current_password ,"Password"%> <i>(necesitamos tu password actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>



<p>¿Infeliz? <%= button_to "cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete %></p>

<%= link_to "Regresar", :back %>


       </div>  
        </div>
      </div>
    </div>
  </div>
</div>
